.gw-header{
    text-align: center;
    position: relative;
}

.activate-button-wrapper{
    margin-top: 50px;
    text-align: center;
}

.logoutbutton{
    position: absolute;
    top: 70px;
    width: 70px;
    height: 52px;
    left: 10px;
}

.activate-button{
    width: 90%;
}

.gw-main {
    margin: 100px auto;
}

.setting_checkbox {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.settings_text {
    width: 95%;
    display: inline-block;
}

.setting_checkbox_label_bool {
    vertical-align: middle;
    height: 40px;
}

.setting_checkbox_label {
    white-space: pre-line;
}

.settings_button {
    font-size: 3em !important;
    position: absolute;
    top: 16px;
    padding: 5px 0 0;
    left: 10px;
    width: 70px;
    height: 52px;
    outline: none;
}

.settings_button:hover {
    color: #b2d4b7;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:focus {
    color: #b2d4b7;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.bitchin-logo {
    height: 120px;
}

.settings_button i{
    vertical-align: top;
}

.settings_selected {
    color: #b2d4b7;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.settings_save {
    margin-right: 5px;
}

.settings_tabs {
    text-align: center;
}

.settings_tabs .nav {
    padding-left: 5px;
}

.settings_tabs .nav, .settings_tabs h2{
    text-transform: capitalize;
}