.gw-header{
    text-align: center;
    position: relative;
}

.activate-button-wrapper{
    margin-top: 50px;
    text-align: center;
}

.logoutbutton{
    position: absolute;
    top: 16px;
    width: 70px;
    height: 52px;
    right: 10px;
}

.activate-button{
    width: 90%;
}

.gw-main {
    margin: 100px auto;
}

.setting_checkbox {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.setting_checkbox_label_bool {
    vertical-align: middle;
    height: 40px;
}

.setting_checkbox_label {
    white-space: pre-line;
}

.settings_button {
    font-size: 4em !important;
    position: absolute;
    top: 14px;
    left: 10px;
}

.settings_selected {
    color: #b2d4b7
}